.pageContainer {
    display: flex;
    gap: 20px;
}

.leftColumn {
    flex: 1;
    max-width: 33%;
    background-color: #15151E;
    border-radius: 15px;
    padding: 10px;
}

.rightColumn {
    flex: 2;
    max-width: 66%;
    background-color: #15151E;
    border-radius: 15px;
}

.scoreDisplay {
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 20px;
}

.toggleButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

    .toggleButton:hover {
        background-color: #45a049;
    }