.pageContainer {
    display: flex;
    gap: 20px;
}

.leftColumn {
    flex: 1;
    max-width: 33%;
    background-color: #15151E;
    border-radius: 15px;
    padding: 10px;
}

.rightColumn {
    flex: 2;
    max-width: 66%;
    background-color: #15151E;
    border-radius: 15px;
}
