.container {
    background: #15151e;
    padding: 25px;
    border-radius: 15px;
    width: 80%;
    margin: 0 auto;
    color: white;
}

.header {
    color: white;
    font-size: x-large;
    text-align: center;
    border-bottom: 2px solid #aa0000;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.leagueInfo {
    color: #cfcfcf;
    font-size: medium;
    text-align: center;
    margin: 10px 0;
}

.membersList,
.ballotList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: large;
    color: white;
}

.memberItem,
.ballotItem {
    padding: 10px;
    background-color: #262630;
    margin: 5px 0;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

    .memberItem:nth-child(even),
    .ballotItem:nth-child(even) {
        background-color: #420000;
    }

.scrollContainer {
    max-height: calc(5 * 50px);
    overflow-y: auto;
}

.dropdown {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    font-size: medium;
}

.roundDetailsList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.roundDetailItem {
    margin: 5px 0;
}

.detailButton {
    width: 100%;
    background-color: #262630;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

    .detailButton:hover {
        background-color: #420000;
    }

    .detailButton:focus {
        outline: 2px solid #aa0000;
    }
