.leagueSelection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.leagueDropdown {
    width: 100%;
    padding: 8px 12px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #0A0A0F;
    border: 2px solid #42425E;
    border-radius: 15px;
    appearance: none;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

    .leagueDropdown:focus {
        border-color: #FF8A00;
        outline: none;
    }

    .leagueDropdown option {
        background-color: #2E2E3A;
        color: #FFFFFF;
        padding: 10px;
    }

    .leagueDropdown:hover {
        background-color: #42425E;
    }

        .leagueDropdown option[value=""][disabled] {
            color: #AAAAAA;
        }

.leagueDropdownLeaguePage {
    width: 33%;
    height: 10%;
    padding: 8px 12px;
    margin-top: 30px;
    text-align: center;
    font-size: 1rem;
    color: #ffffff;
    background-color: #0A0A0F;
    border: 2px solid #42425E;
    border-radius: 15px;
    appearance: none;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

    .leagueDropdownLeaguePage:focus {
        border-color: #FF8A00;
        outline: none;
    }

    .leagueDropdownLeaguePage option {
        background-color: #2E2E3A;
        color: #FFFFFF;
        padding: 10px;
    }

    .leagueDropdownLeaguePage:hover {
        background-color: #42425E;
    }

        .leagueDropdownLeaguePage option[value=""][disabled] {
            color: #AAAAAA;
        }

.leagueDropdownCode {
    width: 20%;
    padding: 8px 12px;
    margin-top: 10px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #0A0A0F;
    border: 2px solid #42425E;
    border-radius: 15px;
    appearance: none;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}