.constructorCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid transparent;
    background: #0A0A0F;
    width: 350px;
    height: 80px;
    transition: transform 0.2s ease, box-shadow 0.2s ease, border 0.2s ease-in-out;
}

    .constructorCard:hover {
        transform: translateY(-5px);
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
        border: 2px solid #FF8A00;
    }

.teamLogoContainer,
.carImageContainer {
    margin: 10px;
}

.teamLogo,
.carImage {
    object-fit: contain;
    border-radius: 5px;
}

.imagesContainer {
    display: flex;
    justify-content: space-between; /* Ensures there is space between the images */
    align-items: center;
}
