.driverCard {
    width: 19%; /* Adjust the width as needed */
    padding: 20px;
    margin: 5px;
    border: 3px solid #ccc;
    border-radius: 8px;
    text-align: left;
    background: #0A0A0F;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

    .driverCard:hover {
        transform: translateY(-5px);
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    }

.driverNames {
    text-align: left;
    color: white;
    text-transform: uppercase;
}

    .driverNames h3 {
        
    }

    .driverNames h4 {
        font-size: 22px;
        font-weight: bold;
    }

.driverImageContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 15px;
}

.driverNumAndFlag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.driverImage {
    height: auto;
    width: 100%;
    padding-top: 15px;
    margin-bottom: 10px;
}

.numContainer {
    background: white;
    width: 45px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

    .numContainer h2 {
        font-size: 32px;
        color: #AA0000;
    }

.flag {
    border-radius: 5px;
}
