.driverCard {
    width: 250px;
    flex-shrink: 0;
    scroll-snap-align: start; /* Snap card to the start of the viewport */
    border-radius: 15px;
    background: #0A0A0F;
    margin: 5px;
    padding: 20px;
    text-align: left;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

    .driverCard:hover {
        transform: translateY(-5px);
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    }

.driverNames {
    text-align: left;
    color: white;
    text-transform: uppercase;
}

    .driverNames h4 {
        font-size: 22px;
        font-weight: bold;
    }

.driverImageContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 15px;
    background-color: #15151E;
}

.driverNumAndFlag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.driverImage {
    height: auto;
    width: 200px;
    padding-top: 15px;
}

.numContainer {
    background: white;
    width: 45px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

    .numContainer h2 {
        font-size: 32px;
        color: #AA0000;
    }

.flag {
    border-radius: 5px;
}

.driverTeamName {
    margin-top: 10px;
    font-size: 1.1rem;
    color: white;
    text-transform: uppercase;
}
