.line {
    width: 100%; /* Full width by default */
}

.red {
    background-color: #AA0000;
}

.yellow {
    background-color: #FF8A00;
}

.silver {
    background-color: #CCCCCC; /* Metallic gray for silver */
}

.bronze {
    background-color: #944700; /* Reddish-brown for bronze */
}

.thick {
    height: 5px;
    margin: 20px 0;
}

.thin {
    height: 3px;
    margin: 3px 0;
}