.yourBallotContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    background-color: #0A0A0F;
    border-radius: 15px;
}

.heading {
    font-size: 1.7rem;
    color: white;
    text-align: left;
}

.ballotButton {
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    transform-origin: left;
}

    .ballotButton:hover {
        background-color: #AA0000; 
        text-decoration: underline; 
        transform: scale(1.03);
    }

.position1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: gold;
}

.position2 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: silver;
}

.position3 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: #944700;
}

.flag {
    margin-left: auto; /* Pushes the flag to the right side */
    text-align: right; /* Ensure text inside is aligned right */
}

.teamName {
    font-size: 16px;
    color: #f5f5f5;
}

.podiumImageContainer {
    margin-bottom: 10px;
}

.podiumImage {
    width: 100%; /* Ensures the image fills the container */
}

.footer {
    font-size: 1.5rem;
    color: white;
    text-align: left; /* Adjust alignment if needed */
    margin: 20px;
    cursor: pointer;
}