/* Title styling */
.title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  text-align: center;
}

.driver {
  width: 38%;
  background-color: #aa0000;
  padding: 1rem;
  border-radius: 15px;
  color: white;
}

/* Info container styling for driver and race */
.driverInfo {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.driverDetails {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #15151E;
    border-radius: 15px;
    width: 50%;
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
}

.raceInfo {
  background-color: #15151e;
  display: flex;
  align-items: center;
  border-radius: 15px;
}

/* Image styling for driver and circuit */
.driverImage {
  margin-right: 1rem;
  max-height: 340px;
  height: auto;
  width: auto;
}

.circuitImage {
  margin-right: 1rem;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
}

.driverName {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
}

.raceName {
  font-size: 64px;
  font-weight: bold;
}

.driverNoAndFlag {
  display: flex;
  flex-direction: row; /* Align number and flag in a row */
  align-items: center;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.overtakes {
    font-size: 1.5rem;
    margin-top: 5px;
    color: #FF8A00;
}

.driverNumber {
  background-color: white;
  font-size: 3rem;
  height: 3.5rem;
  color: #AA0000;
  padding: 0.2rem 1rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.driverPhoto {
    border-radius: 15px;
    margin-left: 1rem;
    background-color: #0A0A0A;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
