@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset margins and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ensure html and body take up the full viewport height and width */
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* Set default background color to avoid white margins */
body {
  background-color: #2a0a0a; /* Adjust as needed to match your design */
}
