.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 20%;
    background-color: #2e0000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logoContainer {
    display: flex;
    align-items: center;
    padding: 1.5rem;
}

.logoImage {
    width: 5vw; /* Adjust size as needed */
    height: auto; /* Adjust size as needed */
    max-height: 100px;
    margin-right: 1rem;
}

.logoLink {
    font-size: 2.5vw;
    color: white;
    text-decoration: none;
    margin-right: 1rem;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    width: 100%; /* Full width of the sidebar */
}

.navItem {
    display: block;
    width: calc(100% - 2rem);
    height: 4rem;
    margin: 0.5rem 1rem;
    padding: 0.5rem;
    background-color: #AA0000;
    color: white;
    border-radius: 5px;
    font-size: 1.5vw;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

    .navItem:hover {
        background-color: #FF8A00;
        color: #AA0000;
        transform: scale(1.05);
    }
