.container {
  display: flex;
  height: 100vh;
}

.sidebar {
    width: 20%;
    background-color: #2E0000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.logoWithLine {
    width: calc(100% - 2rem);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoContainer {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    margin-top: 1.2rem;
    margin-bottom: 0.5rem;
    position: relative;
    border-radius: 15px;
    background-color: none;
    transition: background-color 0.5s ease-in-out;
}

    .logoContainer:hover {
        background-color: #3E0707;
        cursor: pointer;
    }

.logoImage {
  width: 5vw; /* Adjust size as needed */
  height: auto; /* Adjust size as needed */
  max-height: 100px;
  margin-right: 1rem;
}

.logoLink {
  font-size: 2.5vw;
  color: white;
  text-decoration: none;
  margin-right: 1rem;
}

.logoUnderLine {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 3px;
    background-color: #FF8A00;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  width: 100%; /* Full width of the sidebar */
}

.navItem {
    position: relative;
    display: block;
    width: calc(100% - 2rem);
    height: 4.5rem;
    margin: 0.5rem 1rem;
    padding: 0.5rem;
    background-color: #aa0000;
    color: white;
    border-radius: 15px;
    font-size: 1.5vw;
    font-weight: 500;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition:
        transform 0.3s ease,
        background-color 0.5s ease;
}

    .navItem:hover {
        background-color: #15151E;
        color: #FF8A00;
        transform: scale(1.05);
    }

    .navItem::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('/assets/gifs/flame_trail.gif');
        background-size: cover;
        background-position: center;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        z-index: 0;
    }

    .navItem:hover::before {
        opacity: 0.5;
    }

    .navItem span {
        position: relative;
        z-index: 1;
    }

.howToPlayButton {
    position: relative;
    border: none;
    cursor: pointer;
    color: #f1f5f9;
    overflow: hidden;
    height: 3rem;
    width: 20rem;
    margin: 2rem 1rem 0.5rem 1rem;
    border-radius: 15px;
    background-color: #470000;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    transition: transform 0.2s, background-color 0.2s;
}

    .howToPlayButton .circle {
        position: absolute;
        z-index: 10;
        border-radius: 50%;
        transition: transform 0.5s ease-in-out, background-color 0.2s ease-in-out;
    }

        .howToPlayButton .circle:nth-child(1) {
            width: 17rem;
            height: 250px;
            background-color: #590000;
            transition-delay: 75ms;
        }

    .howToPlayButton:hover .circle:nth-child(1) {
        transform: scale(1.5);
    }

    .howToPlayButton .circle:nth-child(2) {
        width: 14rem;
        height: 200px;
        background-color: #6D0000;
        transition-delay: 100ms;
    }

    .howToPlayButton:hover .circle:nth-child(2) {
        transform: scale(1.5);
    }

    .howToPlayButton .circle:nth-child(3) {
        width: 11rem;
        height: 150px;
        background-color: #800000;
        transition-delay: 150ms;
    }

    .howToPlayButton:hover .circle:nth-child(3) {
        transform: scale(1.5);
    }

    .howToPlayButton .circle:nth-child(4) {
        width: 8rem;
        height: 100px;
        background-color: #AA0000;
        transition-delay: 200ms;
    }

    .howToPlayButton:hover .circle:nth-child(4) {
        transform: scale(1.5);
    }

    .howToPlayButton p {
        position: relative;
        z-index: 20;
        color: white;
    }

.profileContainer {
    position: absolute;
    padding-top: 5px;
    bottom: 0;
    background-color: #AA0000;
    width: 100%;
    height: 4rem;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    z-index: 3;
}